<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/favicon.ico" rel="icon">

        <link href="../css/styles.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- popper: tooltip and popover positioning engine -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
                
        <!-- bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Jonathan Ho: About</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/fall2022-pui/portfolio/templates/index.html"><span><img class="logo" src="../static/logo.png" alt="Hand framing a lightbulb">jonathan ho</span></a>

            <!-- accessibility! aria controls https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-controls -->
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="research.html">research.</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">about.</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">contact.</a></li>
                </ul>

            </div>
        </nav>

        <main class="container p-5 body">

            <!-- ONLY THING THAT CHANGES IN THIS PAGE -->
            <h1 class="greeting large bold">   
                「reach out to me!」
            </h1>

            <!-- list of ways to reach me -->
            <div class="contact">
                <div class="thin">
                    <p class="thin">email me at <a href="mailto:jonathanho@cmu.edu">jonathanho [at] cmu [dot] edu</a></p>
                    <p class="thin">call or text me at +1 909 859 5668 (US) or +886 979 167 293 (TW)</p>
                    <p class="thin">follow me on mastodon at <a href="https://hci.social/@juanathanho#">@juanathanho.hci.social</a></p>
                    <p class="thin">check out my projects at <a href="https://github.com/jonathanho168">github.com/jonathanho168</a></p>
                </div>
            </div>
            
            
        </main>

        <footer class="small text-center text-muted">
            © Copyright 2022 Jonathan Ho. Email me at jonathanho [at] cmu [dot] edu with any questions, comments, or concerns!
        </footer>

    </body>

</html>