<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/favicon.ico" rel="icon">

        <link href="../css/styles.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- popper: tooltip and popover positioning engine -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
                
        <!-- bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Jonathan Ho: Research</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/fall2022-pui/portfolio/templates/index.html"><span><img class="logo" src="../static/logo.png" alt="Hand framing a lightbulb">jonathan ho</span></a>

            <!-- accessibility! aria controls https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-controls -->
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="research.html">research.</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">about.</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">contact.</a></li>
                </ul>

            </div>
        </nav>

        <main class="container p-5 body">

            <!-- ONLY THING THAT CHANGES IN THIS PAGE -->
            <div>

                <h1 class="greeting large bold">
                    「what i study」
                </h1>

                <!-- body of the page, part 1: predictive analytics -->
                <div class="predictive">
                        <!-- text of the section (as opposed to the blurb) -->
                        <div class="predictive-text">
                            <div class="thin predictive-intro">
                                <p class="thin">I'm interested in the integration of <span class="bold">predictive analytics systems</span> for situations requiring <span class="bold">high sensitivity and specificity</span>, like child welfare systems or emergency room prioritisation.</p>
                            </div>
            
                            <div class="thin bias">
                                <p class="thin">One big issue we face is <span class="bold">preventing algorithm aversion and automation bias</span>, which are two undesirable ends of a broad spectrum.</p>
                            </div>
            
                            <div class="thin lab">
                                <p class="thin">Most recently, I joined the <span class="bold">4A (AI Accountability, Awareness, and Action) Lab</span> in the Social AI group here at Carnegie Mellon's Human-Computer Interaction Institute in the School of Computer Science.</p>
                            </div>
            
                            <div class="thin seyun">
                                <p class="thin">I work closely with <span class="bold">Seyun Kim</span>, a second-year Ph.D. student, and Professors <span class="bold">Haiyi Zhu</span>, <span class="bold">Motahhare Eslami</span>, and <span class="bold">John Zimmerman</span>.</p>
                            </div>
                        </div>
                        
                        <!-- blurb: question encapsulating the discussion of this section -->
                        <div class="blurb">
                            <p>what if we want to use predictive analytics in high-risk contexts?</p>
                        </div>
                </div>
                
                <!-- body of the page pt. 2: previous work -->
                <div class="previous-work">
                    <!-- first blurb for second part -->
                    <div class="blurb">
                        <p>what happens when you have two lenders of last resort with disclosure?</p>
                    </div>

                    <div class="previous-work-text">
                        <div class="lolr">
                            <p class="thin">Previously, I looked at the effects of <span class="bold">having two lenders of last resort with disclosure</span>, which is discussed in <span class="italic">Liquidity from two lending facilities</span>.</p>
                        </div>

                        <div class="scientific">
                            <p class="thin">I also contributed to <span class="italic">The Scientific Method</span>, a book on norms and recent changes in <span class="bold">scientific practice and validity</span>.</p>
                        </div>
                    </div>

                    <!-- second blurb for second part -->
                    <div class="blurb">
                        <p>what are norms and recent changes in scientific practice and validity?</p>
                    </div>
                </div>



            </div>
            
        </main>

        <footer class="small text-center text-muted">
            © Copyright 2022 Jonathan Ho. Email me at jonathanho [at] cmu [dot] edu with any questions, comments, or concerns!
        </footer>

    </body>

</html>